extends ../_layout.pug

block content
    +title("Les Bugs")
    br
    p Bien qu'Hammerfest soit un des meilleurs jeux que cette Terre n'ait jamais abrité, il est cependant très riche en bugs de diverses sortes. Ici sont répertoriés tous les bugs connus et s'ils ont un fix sur Eternalfest.
    br
    +table()
        thead
            td Description
            td BugFix
        each bug in API.bugs
            tr
                td= bug.content
                td(style="text-align: center;")
                    if (bug.hasFix)
                        i.fas.fa-check.has-text-success
                    else
                        i.fas.fa-times.has-text-danger
