extends ../_layout.pug

block content
    +title("Le Cache-Ennemi")
    br
    p.
        La technique du cache-ennemi (ou plutôt, le théorème du cache-ennemi) est une fonctionnalité du jeu découverte peu après la sortie du jeu par
        #[a(href="http://www.hammerfest.fr/user.html/6283") Kahakatashi]. Elle sert à déterminer de manière certaine l'#[a(href="/rules/features") ordre] d'un niveau.
    br
    p.
        Le théorème est le suivant :
    br
    +subtitle-centered("Si deux ennemis se croisent, celui qui passe derrière l'autre est à tuer avant l'autre dans l'ordre.")
    p.
        Cela veut dire que si on arrive à faire croiser la plupart des ennemis d'un niveau, on peut en déduire l'ordre du niveau.
        Ce théorème est donc fondamental quand on commence à jouer les points : si on n'arrive plus à s'y retrouver au milieu de l'ordre, il suffit de faire croiser les ennemis pour déduire l'ordre totalement.
    br
    img(src=API.img alt="cache-ennemi" style="margin-left: 45%;")
    br
    br
    p.
        ATTENTION : Il y a cependant une expection à la règle : un litchi qui vient à perdre sa carapace passera #[strong derrière] l'autre, alors qu'en vérité, casser la carapace d'un litchi détruit l'ordre en le rendant impossible.
        Il existe néanmoins un #[a(href="/rules/bugs") bugfix] dans Eternalfest qui corrige le problème, mais il n'est pas forcément actif sur chaque contrée.