extends ../_layout.pug

block content
    +title("Les Cristaux")
    br
    p Les cristaux sont probablement les objets les plus communs et les plus importants. Ils tombent du ciel à la mort d'un ennemi, et donnent tous des points, dont le montant augmente selon le nombre d'ennemis tué par une même bombe.
    br
    p Voici le tableau comparatif des cristaux :
    br
    div.centered
        +table()
            thead
                td Cristal
                td Points
                td Ennemis tués
            each crystal in API.crystals
                tr
                    td
                        img(src=crystal.img)
                    td.has-text-centered= crystal.value
                    td.has-text-centered= crystal.nbKilled
    br
    p La formule pour connaître le nombre de points qu'un cristal rapporte est n²*500, où n est le nombre d'ennemis tués d'un coup.