extends ../_layout.pug

block content
    +title("Les Ordres")
    br
    p Les ordres sont un concept très important qu'il faut saisir vite en début de jeu.
    br
    p Chaque niveau contenant plus de deux ennemis possède un ordre prédéfini et fixe pour tuer ces ennemis. Cet ordre, s'il est respecté, fera tomber un cristal géant à la fin du niveau qui tombe au centre du niveau et passe à travers les plate-formes. Les points que donne ce gros cristal est égal à n²*2500, où n est le nombre d'ennemis initiaux dans le niveau. Autrement dit :
    br
    .centered
        +table()
            thead
                td Cristal
                td Points
                td Ennemis
            each order in API.orders
                tr
                    td
                        img(src=order.img)
                    td= order.value
                    td= order.nbKilled