mixin genLand(land)
    a(href="/lands/"+land.id)
        +layout(`${land.id}/image`, land.name, land.difficulty, land.has_variable_difficulty, land.thumbnail_url)

mixin genPart(idLand, idPart, part, has)
    a(href="/lands/"+idLand+"/parts/"+idPart)
        +layout(`${idLand}/image`, part.name, part.difficulty, has, part.thumbnail_url)

mixin layout(path, name, difficulty, has, thumburl)
    .card.hoverprimary
        .card-header
            .card-header-title.is-centered
                +genTitle(name)
        if (has !== "no_display")
            .card-header-title.is-centered
                +genDifficulty(difficulty, has)
        .card-image
            figure.image.is-256x256
                +genImage(path, thumburl)

mixin genTitle(name)
    h3.title.is-5.has-text-white.has-text-centered #{name}

mixin genImage(path, thumburl)
    img(src=thumburl, alt="land_image", width="192px", height="192px")
    
mixin genDifficulty(difficulty, has)
    if (! has)
        p.subtitle.has-text-white.is-6 #{((difficulty) ? `${Math.round(difficulty * 100) / 100}/10` : "Difficulté inconnue")}
    else
        p.subtitle.has-text-white.is-6 Difficulté variable
