mixin createLevel(idLand, name1, name2)
    .column.is-one-fifth.is-narrow
        .columns.is-6
            .column
                if (name1)
                    +createLevelWidth(idLand, name1, "50%")
                    if (name2)
                        +createLevelWidth(idLand, name2, "50%")

mixin createLevelWidth(idLand, name, width)
    - encodedName = encodeURIComponent(name)
    a(href="/lands/" + idLand + "/levels/" + encodedName, width=width)
        if (existsSync("../hamm4all-db/lands/" + idLand + "/" + name + ".png"))
            img(src="/lands/" + idLand + "/min/" + name + ".png", alt=name, title=name, width=width, class!=attributes.class).minia
        else
            img(src="/assets/min/unknown.png", alt=name, width=width, class!=attributes.class).minia

mixin createDimension(idLand, firstLevel, levels)
    +createLevel(idLand, firstLevel)
    - previous
    if (typeof(levels) === "object")
        each level, i in levels
            if (i % 8 === 0 && i !== 0)
                +createLevel()
            if (i % 2 === 1)
                +createLevel(idLand, previous, level.name)
            else if (i === levels.length - 1)
                +createLevel(idLand, level.name)
            else
                - previous = level.name
    else
        +createLevel(idLand, levels)

mixin createLaby(land_id, name, links)
    - let minX = 0;
    - let maxX = 0;
    - let minY = 0;
    - let maxY = 0;
    each obj in links
        if (obj.x < minX)
            - minX = obj.x
        if (obj.x > maxX)
            - maxX = obj.x
        if (obj.y < minY)
            - minY = obj.y
        if (obj.y > maxY)
            - maxY = obj.y
            
    .table-container
        table(style="margin: auto;")
            tbody
                - for(let y = minY; y <= maxY ; y++)
                    tr
                        - for(let x = minX; x <= maxX ; x++)
                            td
                                - for (let level of links)
                                    if (level.x === x && level.y === y)
                                        +createLevelWidth(land_id, level.name, "100%")(class="minialaby")

mixin createWell(idLand, firstLevel, levels)
    - previous
    if (levels)
        each level, i in levels
            if (i === 0)
                +createLevel(idLand, firstLevel, level.name)
            else if (i % 2 === 0)
                +createLevel(idLand, previous, level.name)
            else if (i === levels.length - 1)
                +createLevel(idLand, level.name)
            else    
                - previous = level.name
    else if (firstLevel)
        +createLevel(idLand, firstLevel)
