include includes/elements/title
include includes/elements/list
include includes/elements/form
include includes/elements/table
include includes/functions/grade

- const faviconURL = "/assets/favicon.png";

doctype html
html(lang="fr")
  head(prefix="og: http://ogp.me/ns#")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
      title Help Hammerfest !

    if API && API.land && API.level && API.land.id && API.land.name && API.level.name && (existsSync("../hamm4all-db/lands/" + API.land.id + "/" + API.level.name + ".png"))
      - const openGraphURL = "https://hamm4all.raccoon.ovh/lands/" + API.land.id + "/" + API.level.name + ".png";
      meta(property="og:site_name" content="Hamm4all")
      meta(property="og:title" content=`${API.land.name} : Niveau ${API.level.name}`)
      if API.level.description
        meta(property="og:description" content=API.level.description)
      meta(property="og:type" content="article")
      meta(name="twitter:card" content="summary_large_image")
      meta(property="og:image" content=openGraphURL)
      meta(property="og:image:width" content="420")
      meta(property="og:image:height" content="500")
      meta(property="og:image:alt" content="Screen du niveau " + API.land.name)
    link(rel="icon", type="image/png", href=faviconURL)
    link(rel="stylesheet", href="/styles/index.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    block script
  body
    nav(role="navigation" aria-label="main navigation").navbar.is-dark
      .navbar-brand
        a(href="/").navbar-item
          img(src=faviconURL, alt="Hamm4all")
          p.navbar-item.has-text-white Hamm4all
        a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menuh4a")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu#menuh4a.is-dark
        .navbar-start
          a(href="/technics").navbar-item Techniques
          .navbar-item.has-dropdown.is-hoverable
            a(href="#").navbar-link Règles
            .navbar-dropdown
              a(href="/rules/crystals").navbar-item Les Cristaux
              a(href="/rules/letters").navbar-item Les Lettres
              a(href="/rules/cacheEnnemi").navbar-item Le Cache-ennemi
              a(href="/rules/orders").navbar-item Les Ordres
              a(href="/rules/bugs").navbar-item Les Bugs
          .navbar-item.has-dropdown.is-hoverable
            a(href="#").navbar-link Ennemis
            .navbar-dropdown
              a(href="/enemies/fruits").navbar-item  Les Fruits
              a(href="/enemies/boss").navbar-item Les Boss
          .navbar-item.has-dropdown.is-hoverable
            a(href="#").navbar-link Objets
            .navbar-dropdown
              a(href="/objects/special").navbar-item Objets spéciaux
              a(href="/objects/families").navbar-item Les familles
              a(href="/objects/quests").navbar-item Les quêtes
              a(href="/objects/coeffs").navbar-item Coefficients
              a(href="/objects/keys").navbar-item Les Clés
              a(href="/objects/pads").navbar-item Les Pads
          a(href="/lands").navbar-item Contrées
          .navbar-item.has-dropdown.is-hoverable
            a(href="#").navbar-link Creations
            .navbar-dropdown
              a(href="/creations/levels").navbar-item Niveaux
              a(href="/creations/musics").navbar-item Musiques
              a(href="/creations/contests").navbar-item Concours
              a(href="/creations/tools").navbar-item Outils
          a(href="/thanks").navbar-item Remerciements
        .navbar-end
          if (USER)
            .navbar-item.has-dropdown.is-hoverable
              a(href="#").navbar-link
                if (USER.profile_picture)
                  img(src=USER.profile_picture, alt="Profil").is-rounded
              .navbar-dropdown.is-right
                if (hasGrade(USER, 5))
                  a(href=`/profile`).navbar-item Profils de site
                a(href=`/profile/${USER.id}`).navbar-item Profil
                a(href="/logout").navbar-item Déconnexion
          else
            .navbar-item
              .buttons
                a(href=`/connect`).button.is-link.connectButton Connexion
                
    .columns.is-mobile.is-centered
      .column.is-8-fullhd.is-9-desktop.is-10-tablet.is-12-mobile.bgbody.has-text-white
        .column.is-family-secondary.is-family-sans-serif
          block content

    include includes/_version

script.
  document.getElementsByClassName("navbar-burger")[0].addEventListener("click", (e) => {
    let target = e.target.dataset.target;
    target = document.getElementById(target);
    e.target.classList.toggle('is-active');
    target.classList.toggle('is-active');
  });

  let conn = document.querySelector(".connectButton");
  if (conn !== null) {
    conn.href = `${conn.href}?previousPage=${window.location.pathname}`;
  }
  


