extends _layout

block content
    +title(`Changelog`)
    br
    br
    if (hasGrade(USER, 5))
        .column.is-full
            +form("/changelog/adding")
                .field
                    +label("name", "Nom de la version *")
                    +input("name")(maxlength="50")
                .field
                    +label("changes", "Changements apportés *")
                    +textarea("changes")(rows="10")
                .field
                    +submit()
    br
    +subtitle("Dernières versions")
    each changelog in API
        +subtitle(`Version ${changelog.name} (${changelog.date.toLocaleDateString("fr-FR")}) :`)
        +list-callback(changelog.changes)
        br
        br
    br
    br
    br
    br