extends _layout.pug

block content
    .columns.is-variable.is-6
        .column.is-half-desktop.is-full-mobile
            h2.title.is-4.has-text-white CONNEXION
            form(action=`/login` method="post").connect-form
                .field
                    label(for="username").label.has-text-white Nom d'utilisateur *
                    .control
                        input(type="text" name="username" maxlength="50" autofocus required).input
                .field
                    label(for="password").label.has-text-white Mot de passe *
                    .control
                        input(type="password" name="password" autofocus required).input
                .field
                    .control
                        input(type="submit").button.is-link
                br
                br
        .column.is-half-desktop.is-full-mobile
            h2.title.is-4.has-text-white INSCRIPTION
            form(action="/signup" method="post")
                .field
                    label(for="username").label.has-text-white Nom d'utilisateur *
                    .control
                        input(type="text" name="username" maxlength="50" autofocus required).input
                .field
                    label(for="password").label.has-text-white Mot de passe *
                    .control
                        input(type="password" name="password" autofocus required).input
                .field
                    .control
                        input(type="submit").button.is-link
                br
                br

    script.
        const urlParams = new URLSearchParams(window.location.search);
        const prev = urlParams.get('previousPage');
        if (prev !== null && prev !== undefined) {
            const elem = document.querySelector(".connect-form");
            elem.action = `${elem.action}?previousPage=${prev}`;
        }