extends _layout.pug

block content
    +title("Contrôle des Niveaux")
    br
    if (API.id)
        if (hasGrade(USER, 3))
            .tile.is-ancestor
                .tile.is-vertical.is-6.is-parent(style="margin: auto")
                    article.tile.notification.is-child.has-background-primary
                        .tabs.is-boxed.is-centered.has-text-black
                            ul
                                li.is-active
                                    a
                                        span.icon
                                            i.fas.fa-plus-circle
                                li
                                    a
                                        span.icon
                                            i.fas.fa-edit
                                li
                                    a
                                        span.icon
                                            i.fas.fa-trash-alt

                        div
                            +form(`/levels/template/${API.id}/add`)
                                +subtitle("Ajouter un niveau")
                                .field
                                    +label("name", "Nom du niveau")
                                    +input("name")(maxlength="100")
                                .field
                                    +submit()
                        .is-invisible
                            +form(`/levels/template/${API.id}/modify`)
                                +subtitle("Modifier un niveau")
                                .field
                                    +label("old", "Niveau à modifier")
                                    +select("old")
                                        each level in API.levels
                                            option= level.name
                                .field
                                    +label("new", "Nouveau nom")
                                    +input("new")(maxlength="100")
                                .field
                                    +submit()
                        .is-invisible
                            +form(`/levels/template/${API.id}/remove`)
                                +subtitle("Supprimer un niveau")
                                .field
                                    +label("name", "Nom du niveau")
                                    +select("name")
                                        each level in API.levels
                                            option= level.name
                                .field
                                    +submit()
        
        else
            p Vous n'avez pas le grade suffisant pour contrôler les niveaux.
    else
        p Cette contrée n'existe pas : impossible de contrôler ses niveaux !

block script
    script(src="/assets/modules/tabs.js")