extends _layout

block content
    +title("Page Non Trouvée !")
    br
    br
    p Je ne sais pas ce qu'il s'est passé, mais la page que tu essayes d'atteindre n'a pas été trouvée ou n'existe pas !
    p Tu as pu te retrouver ici pour différentes raisons :
    br
    +list("Tu as atterri ici en cliquant sur un lien qui existe sur le site : Celui-ci est donc cassé, et il faut donc le signaler.",
            "Tu as atterri ici en modifiant l'URL à la main : vérifie que tu ne t'es pas trompé dans l'URL de la page de destination.",
            "Tu as atterri ici depuis un lien référencé sur Google : Ca peut arriver, mais c'est un problème qui sera réglé prochainement.")
    br
    p je suis ravi de t'avoir vu ici, mais il est temps pour toi de repartir ! Clique 
        a(href="/") ici
        | , c'est ma machine spatio-temporelle qui te ramènera directement à l'accueil d'Hamm4all ! Bon voyage !