extends _layout.pug

block content
    +title()
    if (hasGrade(USER))
        p Vous êtes connecté en temps que #{USER.name}
    br
    p Voici le nouveau et dernier site d'aide Hammerfest encore mis à jour régulièrement ! Ce site inclut :
    +list("Tous les ordres et niveaux d'Hammerfest",
        "Différentes pages d'aides pour les nouveaux joueurs",
        "Toutes les contrées Eternalfest au fur et à mesure de leur parution et de l'avancée de la communauté")
    br
    p.
        Ce site est complètement gratuit et open-source, le code est disponible #[a(href="https://gitlab.com/FireKing54/hamm4all") ici].
        <br>
        Egalement, vous pouvez contribuer au site (ajouter des screens, des descriptions de niveaux etc...) en vous créant un compte gratuitement !
    br
    br
    if (hasGrade(USER, 1))
        a(href="changelog").button.is-info Voir les dernières versions
        br
        br
    p Merci à tous ceux qui m'ont aidé à réaliser ce site : yuuty, Erneraude, Demurgos, Moulins, et à tous les autres qui m'ont permis d'améliorer le site avec des critiques constructives !