extends _layout.pug
include ./includes/_lands

block content
    +title("Contrées")
    br
    br
    p Voici toutes les contrées, Hammerfest et Eternalfest confondues, triées par ordre croissant de difficulté :
    br
    br
    if (hasGrade(USER, 4))
        .tile.is-ancestor
            .tile.is-vertical.is-6.is-parent(style="margin: auto")
                article.tile.notification.is-child.has-background-primary
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-plus-circle
                            li
                                a
                                    span.icon
                                        i.fas.fa-upload
                            li
                                a
                                    span.icon
                                        i.fas.fa-edit
                            li
                                a
                                    span.icon
                                        i.fas.fa-trash-alt
                    div
                        +form(`/lands/template/add`)
                            +subtitle("Ajouter une contrée")
                            .field
                                +label("name", "Nom de la contrée")
                                +input("name")(maxlength="100")
                            .field
                                +label("difficulty", "Difficulté de la contrée")
                                +select("difficulty")
                                    option Variable
                                    option Fixe
                            .field
                                +submit()
                    .is-invisible
                        +form-file(`/lands/template/thumbnail`)
                            +subtitle("Ajouter une miniature")
                            .field
                                +label("land", "Nom de la contrée")
                                +select("land")
                                    each land in API.lands
                                        option= land.name
                            .field
                                input(type="file", name="thumb" required).button.is-info
                            .field
                                +submit()
                    .is-invisible
                        +form(`/lands/template/modify`)
                            +subtitle("Modifier une contrée")
                            .field
                                +label("old", "Ancien nom de la contrée")
                                +select("old")
                                    each land in API.lands
                                        option= land.name
                            .field
                                +label("new", "Nouveau nom de la contrée")
                                +input-not-required("new")(maxlength="100")
                            .field
                                +label("authors", "Auteur(s) de la contrée")
                                select(name="authors" multiple)
                                    each author in API.authors
                                        option= author
                            .field
                                +label("description", "Description")
                                +textarea-not-required("description")
                            .field
                                +submit()
                    .is-invisible
                        +form(`/lands/template/remove`)
                            +subtitle("Supprimer une contrée")
                            .field
                                +label("name", "Nom de la contrée à supprimer")
                                +select("name")
                                    each land in API.lands
                                        option= land.name
                            .field
                                +submit()
    
    .columns.is-multiline.is-vcentered.is-centered.is-mobile
        each land, i in API.lands
            if (land.id === 31)
                .column.is-2-fullhd.is-4-touch.is-3-desktop.is-narrow
                    +genLand(land)
    br
    .columns
        .column.is-10.is-offset-1
            .columns
                .column
                    input.input(type="text" placeholder="Rechercher une contrée")#search
                .column
                    +form("/levels/randomize")
                        button.button(type="submit").is-info.is-fullwidth Niveau Aléatoire
                .column
                    .field
                        .control
                            select.select#sort.is-fullwidth
                                each opt in API.sorting_methods
                                    if (opt.query === queries.sortingMethod)
                                        option(value=opt.query, selected)= opt.name
                                    else
                                        option(value=opt.query)= opt.name
    br
    br
    .columns.is-multiline.is-vcentered.is-centered.is-mobile
        each land, i in API.lands
            if (land.id !== 31)
                .column.is-2-fullhd.is-4-touch.is-3-desktop.is-narrow.land
                    +genLand(land)
    br

    script.
        const search = document.getElementById("search");
        const classes = ["column", "is-2-fullhd", "is-4-touch", "is-3-desktop", "is-narrow"];
        search.addEventListener("input", (e) => {
            const lands = document.querySelectorAll(".land");
            let searched = e.target.value.toLowerCase();
            lands.forEach(res => {
                let name = res.firstChild.firstChild.firstChild.firstChild.firstChild.firstChild.nodeValue.toLowerCase();
                if (name.includes(searched)) {
                    res.classList.remove("is-invisible");
                    classes.forEach(val => {
                        res.classList.add(val);
                    })
                }
                else {
                    res.classList.add("is-invisible");
                    classes.forEach(val => {
                        res.classList.remove(val);
                    })
                }
            })
        });

        const sortSelect = document.getElementById("sort");
        sortSelect.addEventListener("change", (e) => {
            window.location.search = `sortingMethod=${sortSelect.childNodes[sortSelect.selectedIndex].value}`;
        }) 

block script
    script(src="/assets/modules/tabs.js")
