extends _layout
include ./includes/_lands

block content
    +title(API.name)
    br
    if (hasGrade(USER, 1))
        .tile.is-ancestor
            .tile.is-vertical.is-6.is-parent(style="margin: auto")
                article.tile.notification.is-child.has-background-primary
                    if (hasGrade(USER, 4))
                        .tabs.is-boxed.is-centered.has-text-black
                            ul
                                li.is-active
                                    a
                                        span.icon
                                            i.fas.fa-star
                                li
                                    a
                                        span.icon
                                            i.fas.fa-plus-circle
                                li
                                    a
                                        span.icon
                                            i.fas.fa-edit
                                li
                                    a
                                        span.icon
                                            i.fas.fa-trash-alt
                        div
                            if (! API.has_variable_difficulty)
                                +form(`/lands/template/${API.id}/grade`)
                                    +subtitle("Noter la contrée")
                                    .field
                                        +label("grade", "Difficulté de la contrée")
                                        +select("grade")
                                            - for(let i = 0 ; i <= 10 ; i += 0.5)
                                                option= i
                                    .field
                                        +submit()
                                    .field
                                        if API.gradedByYou
                                            p Vous avez déjà noté cette contrée #{API.gradedByYou}
                                        else
                                            p Vous n'avez pas encore noté cette contrée
                            else
                                p Impossible de noter cette contrée, car elle possède une difficulté variable

                        .is-invisible
                            +form(`/parts/template/${API.id}/add`)
                                +subtitle("Ajouter une partie")
                                .field
                                    +label("name", "Nom de la partie")
                                    +input("name")(maxlength="100")
                                .field
                                    +label("difficulty", "Difficulté de la partie")
                                    +select("difficulty")
                                        option Variable
                                        - for(let i = 0 ; i <= 10 ; i += 0.5)
                                            option= i
                                .field
                                    +label("description", "Description de la partie")
                                    +textarea-not-required("description")(maxlength="800")
                                .field
                                    +submit()
                        .is-invisible
                            +form(`/parts/template/${API.id}/modify`)
                                +subtitle("Modifier une partie")
                                .field
                                    +label("old", "Ancien nom de la partie")
                                    +select("old")
                                        each land in API.parts
                                            option= land.name
                                .field
                                    +label("new", "Nouveau nom de la partie")
                                    +input("new")(maxlength="100")
                                .field
                                    +label("difficulty", "Difficulté de la partie")
                                    +select("difficulty")
                                        option Variable
                                        - for(let i = 0 ; i <= 10 ; i += 0.5)
                                            option= i
                                .field
                                    +label("description", "Nouvelle description de la partie")
                                    +textarea-not-required("description")(maxlength="800")
                                .field
                                    +submit()
                        .is-invisible
                            +form(`/parts/template/${API.id}/remove`)
                                +subtitle("Supprimer une partie")
                                .field
                                    +label("name", "Nom de la partie à supprimer")
                                    +select("name")
                                        each land in API.parts
                                            option= land.name
                                .field
                                    +submit()
                    else
                        if (! API.has_variable_difficulty)
                            +form(`/lands/template/${API.id}/grade`)
                                +subtitle("Noter la contrée")
                                .field
                                    +label("grade", "Difficulté de la contrée")
                                    +select("grade")
                                        - for(let i = 0 ; i <= 10 ; i += 0.5)
                                            option= i
                                .field
                                    +submit()
                                .field
                                    if API.gradedByYou
                                        p Vous avez déjà noté cette contrée #{API.gradedByYou}
                                    else
                                        p Vous n'avez pas encore noté cette contrée
                        else
                            p Impossible de noter cette contrée, car elle possède une difficulté variable
    br
    - var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
    - const date = `${API.released_at.toLocaleDateString("fr-FR", options)}, à ${API.released_at.toLocaleTimeString("fr-FR")}`
    - const things = [["ID", API.id], ["Description", API.description],["Date de sortie", date],["Difficulté", (! API.has_variable_difficulty) ? ((API.difficulty) ? Math.floor(API.difficulty * 100) / 100 : "Difficulté inconnue") : "Difficulté variable" ],["Auteurs", (API.authors.length > 0) ? API.authors.join(", ") : "Aucun créateur n'est spécifié"],["Nombre de niveaux", API.level_count]]
    .columns
        .column.is-10.is-offset-1(style="border: 2px solid gray; border-radius: 5px;")
            article.media
                figure.media-left
                    p.image.is-256x256
                        img(src=API.thumbnail_url)
                .media-content
                    each chunk, ind in things
                        .columns.is-mobile
                            .column.is-3
                                | #{chunk[0]}
                            .column
                                | #{chunk[1]}
    
    br
    br
    .columns.is-multiline.is-vcentered
        each partie, i in API.parts
            .column.is-2-fullhd.is-4.is-narrow
                +genPart(API.id, i, partie, "no_display")

block script
    script(src="/assets/modules/tabs.js")
