extends _layout.pug
include includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    +title(`${API.land.name} - ${API.part.name}`)
    br
    - API.land.levels = (! API.land.levels) ? [] : API.land.levels;
    br
    if (hasGrade(USER, 4))
        .tile.is-ancestor
            .tile.is-vertical.is-6.is-parent(style="margin: auto")
                article.tile.notification.is-child.has-background-primary
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-plus-circle
                            li
                                a
                                    span.icon
                                        i.fas.fa-edit
                            li
                                a
                                    span.icon
                                        i.fas.fa-trash-alt
                            li
                                a
                                    span.icon
                                        i.fas.fa-list-ol
                    div
                        +form(`/sequences/template/${API.land.id}/${API.part.id}/add`)
                            +subtitle("Ajouter une suite de miniatures")
                            .field
                                +label("level", "Premier niveau")
                                +select("level")
                                    each lvl in API.land.levels
                                        option= lvl.name
                            .field
                                +submit()
                        hr
                        +form(`/links/template/${API.land.id}/${API.part.id}/add`)
                            +subtitle("Ajouter une miniature")
                            .field
                                +label("sequence", "Séquence")
                                +select("sequence")
                                    each thm in API.part.sequences
                                        option= thm.id
                            .field
                                +label("level", "Niveau à ajouter")
                                +select("level")
                                    each lvl in API.land.levels
                                        option= lvl.name
                            .field
                                +label("x", "X")
                                +input-not-required("x")
                            .field
                                +label("y", "Y")
                                +input-not-required("y")
                            .field
                                +submit()

                    .is-invisible
                        +form(`/sequences/template/${API.land.id}/${API.part.id}/modify`)
                            +subtitle("Modifier une suite de miniatures")
                            .field
                                +label("thumb", "Suite de miniature")
                                +select("thumb")
                                    each thm in API.part.sequences
                                        option= thm.id
                            .field
                                +label("level", "Nouveau premier niveau")
                                +select("level")
                                    each lvl in API.land.levels
                                        option= lvl.name
                            .field
                                +submit()
                    .is-invisible
                        +form(`/sequences/template/${API.land.id}/${API.part.id}/remove`)
                            +subtitle("Supprimer une suite de miniatures")
                            .field
                                +label("thumb", "ID de la séquence à supprimer")
                                +select("thumb")
                                    each land in API.part.sequences
                                        option= land.id
                            .field
                                +submit()
                        hr
                        +form(`/links/template/${API.land.id}/${API.part.id}/remove`)
                            +subtitle("Supprimer la dernière miniature")
                            .field
                                +label("sequence", "Séquence")
                                +select("sequence")
                                    each thm in API.part.sequences
                                        option= thm.id
                            .field
                                +submit()
                    .is-invisible
                        +subtitle("Déplacer")
                        +table()
                            thead
                                td.has-text-white ID
                                td.has-text-white ordre
                                td.has-text-white monter
                                td.has-text-white baisser
                            each seq in API.part.sequences
                                tr
                                    td= seq.id
                                    td= seq.order_num
                                    td
                                        if (seq.order_num > 1)
                                            +form(`/sequences/template/${API.land.id}/${API.part.id}/${seq.id}/downgrade`)
                                                input(type="submit", value="Monter").is-link.button
                                    td
                                        +form(`/sequences/template/${API.land.id}/${API.part.id}/${seq.id}/upgrade`)
                                            input(type="submit", value="Baisser").is-link.button
    br
    p= API.part.description
    br
    br
    each seq in API.part.sequences
        if (seq.type === "laby")
            if seq.levels
                if seq.sequence_name
                    +subtitle(`Labyrinthe ${seq.start_level_name} : ${seq.sequence_name}`)
                else
                    +subtitle(`Labyrinthe ${seq.start_level_name}`)
                .columns.is-multiline.is-gapless
                    +createLevel(API.land.id, seq.start_level_name)
                +createLaby(API.land.id, seq.start_level_name, seq.levels)
        else if (seq.type === "dim")
            if seq.sequence_name
                +subtitle(`Dimension ${seq.start_level_name} : ${seq.sequence_name}`)
            else
                +subtitle(`Dimension ${seq.start_level_name}`)
            .columns.is-multiline.is-gapless
                +createDimension(API.land.id, seq.start_level_name, seq.levels)
        else
            .columns.is-multiline.is-gapless
                +createWell(API.land.id, seq.start_level_name, seq.levels)
        br
        br
        br

block script
    script(src="/assets/modules/tabs.js")


        