extends _layout.pug

mixin screen_display(path, encodedPath, index = 0)
    div.screen(class=(index > 0) ? "is-invisible" : "")
        figure.image.link-lev
            each obj in API.level.order
                - let x = obj.x
                - let y = (obj.y - 1 < 0) ? 0.5 : obj.y - 1.5
                p.number(style=`left: ${x * (100 / 21)}%; top: ${y * (100 / 26)}%;`)= obj.order_num
            img(src=encodedPath alt=API.level.name, width="420px", height="500px")
            - for (let i = 0 ; i < 25 ; i++)
                .grid-horizontal.is-invisible(style=`left: 2.5%; top: ${i * 100.0/25.0}%;`)
            - for (let i = 0.5 ; i < 21 ; i++)
                .grid-vertical.is-invisible(style=`top: 0; left: ${i * 95/20.0}%;`)
        br
        a(href=path, download=`${API.land.name} - ${API.level.name} {${index + 1}}.png`).button.is-info.is-fullwidth
            i.fas.fa-download
            |  Télécharger
        br
        if (hasGrade(USER, 1))
            .notification.has-background-info
                .tabs.is-boxed.is-centered.has-text-black
                    ul
                        li.is-active
                            a Modifier
                        li
                            a Ajouter
                        li
                            a Ordre
                div
                    form(action=`/levels/screen/${API.land.id}/${encodedName}/add/${index + 1}`, method="post", enctype="multipart/form-data")
                        +subtitle-centered("Modifier ce screen")
                        input(type="file", name="screen" required)
                        br
                        br
                        input(type="submit").button.is-success.is-fullwidth
                .is-invisible
                    form(action=`/levels/screen/${API.land.id}/${encodedName}/add/`, method="post", enctype="multipart/form-data").add-screen-form
                        +subtitle-centered("Ajouter un screen")
                        input(type="file", name="screen" required)
                        br
                        br
                        input(type="submit").button.is-success.is-fullwidth
                .is-invisible
                    +subtitle-centered(`Changer l'ordre du screen n°${index + 1}`)
                    .columns.is-mobile
                        .column.is-one-fifth.is-offset-one-fifth
                            if (index > 0)
                                +form(`/levels/screen_order/${API.land.id}/${encodedName}/downgrade/${index + 1}`)
                                    input(type="submit", value="-").is-danger.button.is-fullwidth
                        .column.is-one-fifth.is-offset-one-fifth
                            +form(`/levels/screen_order/${API.land.id}/${encodedName}/upgrade/${index + 1}`)(class="screen-order-upgrade")
                                input(type="submit", value="+").is-success.button.is-fullwidth

mixin navigation_display(index)
    #navigation-screen
        .columns.is-mobile
            .column.is-half.is-offset-one-quarter.has-background-link.notification
                .columns.is-mobile
                    .column
                        button.button.has-background-link.is-invisible#screen-before
                            span.icon.is-medium.fa-2x
                                i.fas.fa-angle-left
                    .column.has-text-centered#screen-index
                        | 1/#{index}
                    .column.has-text-right
                        button.button.has-background-link#screen-after
                            span.icon.is-medium.fa-2x
                                i.fas.fa-angle-right

block title
    title Niveau #{API.level.name} - Help Hammerfest !

block content
    +subtitle-centered(`<a href="/lands/${API.land.id}">${API.land.name}</a>`)
    +title(`Niveau ${API.level.name}`)
    br
    br
    - const hasPrevious = (API.level.previous)
    - const hasNext = (API.level.next)

    - let up
    - let left
    - let right
    - let bottom

    each dim in API.level.dimensions
        if (dim.facing)
            if (dim.facing === "up")
                - up = dim.name
            else if (dim.facing === "left")
                - left = dim.name
            else if (dim.facing === "right")
                - right = dim.name
            else if (dim.facing === "down")
                - down = dim.name
    
    - const path = "/lands/" + API.land.id + "/" + API.level.name;
    - const encodedPath = "/lands/" + API.land.id + "/" + encodeURIComponent(API.level.name)
    - encodedName = encodeURIComponent(API.level.name)

    //- PREVIOUS LEVEL
    .tile.is-ancestor
        .tile.is-parent
            article.tile.notification.is-child.has-background-warning
                if (hasGrade(USER, 2))
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-arrow-left
                            li
                                a
                                    span.icon
                                        i.fas.fa-edit
                    div
                        if (hasPrevious)
                            h2.subtitle.is-4.has-text-right
                                a(href=encodeURIComponent(API.level.previous.name)).way <<< Niveau Précédent
                    .is-invisible
                        +form(`/levels/previous/${API.land.id}/${encodedName}/add`)
                            +select("link")
                                option Aucun
                                each lev in API.land.levels
                                    option= lev.name
                            input(type="reset", style="float: right;").button.is-danger
                            input(type="submit", style="float: right;").button.is-success
                else
                    if (hasPrevious)
                        h2.subtitle.is-4.has-text-right
                            a(href=encodeURIComponent(API.level.previous.name)).way <<< Niveau Précédent
                        
        //- NEXT LEVEL
        .tile.is-parent
            article.tile.notification.is-child.has-background-warning
                if (hasGrade(USER, 2))
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li
                                a
                                    span.icon
                                        i.fas.fa-edit
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-arrow-right
                    .is-invisible
                        +form(`/levels/next/${API.land.id}/${encodedName}/add`)
                            +select("link")
                                option Aucun
                                each lev in API.land.levels
                                    option= lev.name
                            input(type="reset", style="float: right;").button.is-danger
                            input(type="submit", style="float: right;").button.is-success
                    div
                        if (hasNext)
                            h2.subtitle.is-4
                                a(href=encodeURIComponent(API.level.next.name)).way Niveau Suivant >>>
                else
                    if (hasNext)
                        h2.subtitle.is-4
                            a(href=encodeURIComponent(API.level.next.name)).way Niveau Suivant >>>

    //- DIMENSION TREATMENT
    .tile.is-ancestor
        .tile.is-parent
            article.tile.notification.is-child.has-background-warning
                if (hasGrade(USER, 2))
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fab.fa-hornbill
                            li
                                a
                                    span.icon
                                        i.fas.fa-plus-circle
                            li
                                a
                                    span.icon
                                        i.fas.fa-trash-alt
                    div
                        each dim in API.level.dimensions
                            if (! dim.facing)
                                h2.subtitle
                                    if (dim.dimname)
                                        a(href=encodeURIComponent(dim.name)) < Dimension #{dim.name} : #{dim.dimname} >
                                    else
                                        a(href=encodeURIComponent(dim.name)) < Dimension #{dim.name} >
                    .is-invisible
                        +form(`/levels/dimension/${API.land.id}/${encodedName}/add`)
                            .field
                                +label("name", "Nom de la dimension (optionnel)")
                                +input-not-required("name")
                            .field
                                +label("link", "Destination")
                                +select("link")
                                    each lev in API.land.levels
                                        option=lev.name
                            .field
                                +label("facing", "Orientation")
                                +select("facing")
                                    option Aucune
                                    option Haut
                                    option Gauche
                                    option Droite
                                    option Bas
                            input(type="submit", style="float: right;").button.is-success
                    .is-invisible
                        +form(`/levels/dimension/${API.land.id}/${encodedName}/delete`)
                            +label("dim", "Dimension à supprimer")
                            +select("dim")
                                each dim in API.level.dimensions
                                    option= dim.name
                            input(type="submit", value=`SUPPRIMER`).button.is-danger
                else
                    each dim in API.level.dimensions
                        if (! dim.facing)
                            h2.subtitle
                                if (dim.dimname)
                                    a(href=encodeURIComponent(dim.name)) < Dimension #{dim.name} : #{dim.dimname} >
                                else
                                    a(href=encodeURIComponent(dim.name)) < Dimension #{dim.name} >
        
        if (up || left || right || down)
            .tile.is-4
                .tile.is-4.is-vertical.is-parent
                    .tile.is-child
                        article.tile.notification.is-child
                    .tile.is-child
                        article.tile.notification.is-child
                            if (left)
                                a(href=encodeURIComponent(left))
                                    i.fas.fa-caret-left.fa-3x
                    .tile.is-child
                        article.tile.notification.is-child
                .tile.is-4.is-vertical.is-parent
                    .tile.is-child
                        article.tile.notification.is-child
                            if (up)
                                a(href=encodeURIComponent(up))
                                    i.fas.fa-caret-up.fa-3x
                    .tile.is-child
                        article.tile.notification.is-child
                    .tile.is-child
                        article.tile.notification.is-child
                            if (down)
                                a(href=encodeURIComponent(down))
                                    i.fas.fa-caret-down.fa-3x
                .tile.is-4.is-vertical.is-parent
                    .tile.is-child
                        article.tile.notification.is-child
                    .tile.is-child
                        article.tile.notification.is-child
                            if (right)
                                a(href=encodeURIComponent(right))
                                    i.fas.fa-caret-right.fa-3x
                    .tile.is-child
                        article.tile.notification.is-child
    
    .tile.is-ancestor.is-mobile.columns
        .tile.is-vertical.is-8-desktop.is-6-fullhd.is-parent
            article.tile.notification.is-child.has-background-primary
                if (hasGrade(USER, 1))
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-tablet-alt
                            li
                                a
                                    span.icon
                                        i.fas.fa-lemon
                            li
                                a
                                    span.icon
                                        i.fas.fa-list-ol
                    div  
                        - let index = 0
                        each screen in API.level.screens
                            +screen_display(screen.path, screen.encodedPath, index)
                            - index++;
                        if (index === 0)
                            .notification.has-background-info
                                .tabs.is-boxed.is-centered.has-text-black
                                    ul
                                        li.is-active
                                            a Modifier
                                        li
                                            a Ajouter
                                        li
                                            a Ordre
                                        
                                div
                                    form(action=`/levels/screen/${API.land.id}/${encodedName}/add/${index + 1}`, method="post", enctype="multipart/form-data")
                                        +subtitle-centered("Modifier ce screen")
                                        input(type="file", name="screen" required)
                                        br
                                        br
                                        input(type="submit").button.is-success.is-fullwidth
                                .is-invisible
                                    form(action=`/levels/screen/${API.land.id}/${encodedName}/add/1`, method="post", enctype="multipart/form-data").add-screen-form
                                        +subtitle-centered("Ajouter un screen")
                                        input(type="file", name="screen" required)
                                        br
                                        br
                                        input(type="submit").button.is-success.is-fullwidth
                                .is-invisible
                                    +subtitle-centered(`Changer l'ordre du screen n°${index + 1}`)
                                    .columns.is-mobile
                                        .column.is-one-fifth.is-offset-one-fifth
                                            if (index > 0)
                                                +form(`/levels/screen_order/${API.land.id}/${encodedName}/downgrade/${index + 1}`)
                                                    input(type="submit", value="-").is-danger.button.is-fullwidth
                                        .column.is-one-fifth.is-offset-one-fifth
                                            +form(`/levels/screen_order/${API.land.id}/${encodedName}/upgrade/${index + 1}`)(class="screen-order-upgrade")
                                                input(type="submit", value="+").is-success.button.is-fullwidth
                        br
                        if (API.level.screens[0])
                            .field#grid-display-button
                                label.checkbox(for="grid").has-text-white
                                    input(type="checkbox" name="grid")#grid
                                    |  Afficher la grille
                            br
                            br
                            +navigation_display(index)
                        else
                            p Aucun screen n'est disponible pour ce niveau
                            br

                        
                    .is-invisible
                        +subtitle("Fruits")
                        +form(`/levels/fruits/${API.land.id}/${encodedName}/add`)
                            br
                            .field
                                +label("fruit", "Ajouter un fruit")
                                +select("fruit")
                                    each fruit in API.level.fruits
                                        option           
                                            | #{fruit.name}
                            br
                            .field
                                +label("x", "x")
                                +select("x")
                                    - for(let i = 0 ; i <= 19 ; i += 0.5)
                                        option= i
                            .field
                                +label("y", "y")
                                +select("y")
                                    - for(let i = 0 ; i <= 24 ; i += 0.5)
                                        option= i
                            br
                            br
                            +submit()
                        hr
                        +form(`/levels/fruits/${API.land.id}/${encodedName}/delete`)
                            br
                            .field
                                +label("fruit", "Supprimer un fruit")
                                +select("fruit")
                                    each fruit in API.level.order
                                        option
                                            | #{fruit.name} (#{fruit.x};#{fruit.y})
                            +submit()
                    .is-invisible
                        +subtitle("Ordre")
                        +table()
                            thead
                                td.has-text-white Ordre
                                td.has-text-white Fruit
                                td.has-text-white x
                                td.has-text-white y
                                td.has-text-white monter
                                td.has-text-white baisser
                            each fruit in API.level.order
                                tr
                                    td= fruit.order_num
                                    td
                                        img(src=fruit.image alt="fruit")
                                    td= fruit.x
                                    td= fruit.y
                                    td
                                        if (fruit.order_num > 1)
                                            +form(`/levels/order/${API.land.id}/${encodedName}/downgrade/${fruit.id}`)
                                                input(type="submit", value="Monter").is-link.button
                                    td
                                        +form(`/levels/order/${API.land.id}/${encodedName}/upgrade/${fruit.id}`)
                                            input(type="submit", value="Baisser").is-link.button

                else
                    - let index = 0
                    each screen in API.level.screens
                        +screen_display(screen.path, screen.encodedPath, index)
                        - index++;
                    if (API.level.screens[0])
                        +screen_display(undefined, undefined, index)
                        br
                        .field#grid-display-button
                            label.checkbox(for="grid").has-text-white
                                input(type="checkbox" name="grid")#grid
                                |  Afficher la grille
                        br
                        br
                        +navigation_display(index)
                    else
                        p Aucun screen n'est disponible pour ce niveau. Si tu as le screen, connecte-toi et ajoute-le !

            //- VIDEO TREATMENT
            article.tile.notification.is-child.has-background-danger
                if (hasGrade(USER, 1))
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a
                                    span.icon
                                        i.fas.fa-play
                            li
                                a
                                    span.icon
                                        i.fas.fa-upload
                    div
                        +subtitle("Vidéo")
                        if (API.level.video)
                            iframe(width="100%" src=API.level.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    .is-invisible
                        +subtitle("Ajouter une vidéo")
                        +form(`/levels/video/${API.land.id}/${encodedName}/add`)
                            br
                            +label("link", "lien de la vidéo")
                            +input("link")(placeholder="Ex : https://www.youtube.com/watch?v=K0-af9u_8zk")
                            br
                            br
                            +submit()
                else
                    +subtitle("Vidéo")
                    if (API.level.video)
                        iframe(width="100%" src=API.level.video frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

                

        
        //- DESCRIPTION TREATMENT
        .tile.is-parent
            article.tile.notification.is-child.has-background-link
                if (hasGrade(USER, 1))
                    .tabs.is-boxed.is-centered.has-text-black
                        ul
                            li.is-active
                                a Description
                            li
                                a
                                    span.icon
                                        i.fas.fa-edit
                            li
                    div
                        +subtitle("Description")
                        if (API.level.description)
                            each desc in API.level.description.split("\r\n")
                                if (desc === "")
                                    br
                                p= desc
                    div.is-invisible
                        +subtitle("Edition")
                        +form(`/levels/description/${API.land.id}/${encodedName}/add`)
                            .field
                                +textarea("description")(rows="40", minlength="10")
                                    | #{API.level.description}
                            br
                            .field
                                .columns(style="float: right;")
                                    input(type="reset").button.is-danger
                                    input(type="submit").button.is-success
                else
                    +subtitle("Description")
                    if (API.level.description)
                        each desc in API.level.description.split("\r\n")
                            if (desc === "")
                                br
                            p= desc





    script.
        const pathed = ".link-lev";
        const a = document.querySelectorAll(pathed)
        const listener = document.getElementById("grid");
        if (listener !== null) {
            listener.addEventListener("change", (e) => {
                const children = document.querySelectorAll(pathed + " div");
                if(listener.checked) {
                    children.forEach(val => {
                        val.classList.remove("is-invisible")
                    })
                }
                else {
                    
                    children.forEach((val) => {
                        val.classList.add("is-invisible")
                    })
                }
            });

            for(let as of a) {
                as.addEventListener("mousemove", (e) => {
                    const link = document.querySelectorAll(pathed);
                    let w = 0;
                    let h = 0;
                    let x = 0;
                    let y = 0;
                    
                    for(let li of link) {
                        w = Math.max(w, li.offsetWidth);
                        h = Math.max(h, li.offsetHeight);
                        x = Math.floor(e.layerX * 21 / w - 0.5) ;
                        y = Math.floor(e.layerY * 25 / h);
                    }
                    const image = document.querySelectorAll(pathed);

                    for(let im of image) {
                        im.setAttribute("title", `(${x};${y})`);
                    }
                })
            }
            
        }
        

        //-----------------------------------------------------------------------------------------------------------------------

        const prevnext = ".way";
        const a2 = document.querySelectorAll(prevnext);
        let prev = undefined;
        let next = undefined;
        for(let obj of a2) {
            if(obj.text === "<<< Niveau Précédent") prev = obj.pathname;
            else if(obj.text === "Niveau Suivant >>>") next = obj.pathname;
        }
        
        document.addEventListener("keydown", e => {

            const focused = document.querySelectorAll("textarea, input"); // The text fields
            const focusOn = document.activeElement; // The element that currently has the focus

            let bool = false;

            // Check is there is one text field that has the focus
            for(foc of focused) {
                if(foc === focusOn) {
                    bool = true;
                    break;
                }
            }

            if (! bool) {
                if (e.key === "ArrowLeft" && prev) {
                    window.location.href = prev
                }
                else if (e.key === "ArrowRight" && next) {
                    window.location.href = next
                }
            }
            
        })


        //-------------------------------------------------------------------------------------------------------------------

        const screens = document.querySelectorAll(".screen");
        const screen_before = document.getElementById("screen-before");
        const screen_after = document.getElementById("screen-after");
        const grid_display_button = document.getElementById("grid-display-button");
        const navigation_screen = document.getElementById("navigation-screen");

        screen_before.addEventListener("click", (e) => changeScreen(-1));
        screen_after.addEventListener("click", (e) => changeScreen(1));

        let splitted = document.getElementById("screen-index").firstChild.nodeValue.split("/");
        if (splitted[0] == splitted[1]) navigation_screen.classList.add("is-invisible");

        function giveInvisibility(elements) { for(let elem of elements) elem.classList.add("is-invisible") }
        function changeScreen (modif) {
            const screen_index = document.getElementById("screen-index");
            giveInvisibility(screens);
            let ind = parseInt(screen_index.firstChild.nodeValue.split("/")[0]);
            const outof = parseInt(screen_index.firstChild.nodeValue.split("/")[1]);
            
            screen_index.firstChild.nodeValue = `${ind + modif}/${outof}`;
            if (modif === 1) screens[ind].classList.remove("is-invisible");
            else screens[ind - 2].classList.remove("is-invisible");

            screen_before.classList.remove("is-invisible");
            screen_after.classList.remove("is-invisible");
            grid_display_button.classList.remove("is-invisible")

            if (ind + modif === outof) {
                screen_after.classList.add("is-invisible");
            }
            else if (ind + modif <= 1) {
                screen_before.classList.add("is-invisible");
            }
        }

        const add_screen_form = document.querySelectorAll(".add-screen-form");
        if (add_screen_form !== null) {
            add_screen_form.forEach(val => {
                val.action = val.action + (parseInt(splitted[1]) + 1);
            })
        }

        const screen_order_upgrade = document.querySelectorAll(".screen-order-upgrade");
        if (screen_order_upgrade !== null) {
            screen_order_upgrade[screen_order_upgrade.length - 1].classList.add("is-invisible")
        }


        
                            
block script
    script(src="/assets/modules/tabs.js")
    