extends _layout.pug

block content
        h1.title.has-text-centered Remerciements
        br
        p Pour ceux qui ne le savent pas, je suis BlessedRacc, j'ai 18 ans, et je suis le fondateur et administrateur (en quelque sorte) de ce site. Mais ce que vous voyez n'est pas de ma main exclusivement (et heureusement) car sinon, je crois que j'en serais encore à implémenter les niveau d'Officialfest.
        br
        p.title.is-5 Premièrement parlons de 
            strong.has-text-white yuuty
            |  :
        p Il est le co-fondateur du site et modérateur (en quelque sorte, toujours). On a fondé ce site ensemble, même si j'ai rapidement pris la programmation du site en main. Il avait je pense la mission la plus difficile. En effet, le site est quand même sorti fin novembre/début décembre 2018, donc avant la sortie officielle d'Eternalfest. Au début, on prévoyait de ne rien automatiser et de tout faire à la main (les screens, acheter le serveur, etc...), notamment parce qu'on ne savait pas faire. C'est à cet instant qu'Eternalfest a entendu parler de ce site, et a décider de nous aider, en hébergeant ce site sur leurs serveurs, et en nous fournissant tous les screens d'Hammerfest.
        p Dans cette histoire, yuuty a eu droits aux tâches de répétition, comme par exemple faire les templates et les liens entre les niveaux A LA MAIN. Cela a duré au moins le premier mois de développement du site, et il a passé véritablement des dizaines d'heures à m'aider, et pour ça, je ne lui dirai jamais assez "merci", car je ne suis pas certain que j'aurais eu la motivation de continuer sans lui. Encore aujourd'hui, il se charge de mettre à jour la plupart des screens.
        br
        p.title.is-5 La deuxième personne que j'ai envie de remercier, c'est 
            strong.has-text-white Demurgos
            |  :
        p En effet, il a assez vite hébergé le site, permettant de ne pas dépenser notre argent de poche d'adolescents, à moi et à yuuty. Mais en plus de ça, il m'a rapidement aidé pour tout ce qui est automatisation du site : générateur de site statique, lien automatique des fichiers vers le serveur, utilisation de Gitlab pour que tout le monde puisse voir et modifier le code du site et approter sa pierre à l'édifice... Il a toujours su être là quand j'avais besoin d'aide, et pour ça, il mérite d'être énormément remercié. Sans lui, je crois que yuuty serait encore en train de faire des templates à la main.
        br
        p Passons maintenant à ceux qui m'ont directement aidé pour le site, en dehors de yuuty et Demurgos :
        br
        p.title.is-5
            strong.has-text-white Erneraude
            |  :
        p Vous voyez les pages qui sont les mieux faites et les mieux documentées du site ? Eh bien elles viennent de lui. Il a automatisé la génération des pages des 
            a(href="objects/families") familles
            | , des 
            a(href="objects/coeffs") coefficients
            |  et des 
            a(href="objects/quests") quêtes
            | . Il a aussi fait la page d'Ololzd et m'a aidé sur une ou deux autres. Merci beaucoup à lui !
        br
        p.title.is-5
            strong.has-text-white Moulins
            |  :
        p Moulins, on pourrait l'appeler EternalScreens : il a fait des très beaux screens pour le puits de la Nouvelle Cachette du Plombier, avec les vortex en transparance, des bombes pour indiquer l'emplacement des triggers, etc... Mais par dessus tout, il fait quotidiennement depuis plus de 4 mois des magnifiques screens des Niveaux du Jour. Merci à lui pour ça !
        br
        p.title.is-5
            strong.has-text-white Gsk8
            |  :
        p Streamer confirmé, Gsk a beaucoup aidé en ce qui concerne les screens des contrées d'Eternalfest : il peut aller loin dans les contrées grâce à son bon niveau de jeu, et a pris souvent des screens sur les régions réculées d'Eternalfest, dont seuls les meilleurs foulent le sol. Enfin, il a souvent pris quelques heures pour mettre les chiffres sur les screens des ordres déjà connus. Merci à lui !
        br
        p.title.is-5
            strong.has-text-white gmnemo
            |  :
        p Joureur américain francophone, c'est grâce à lui qu'une majorité des ordres a été trouvée, son 
            a(href="http://www.tinyurl.com/efordres") fichier excel
            |  recense tous les ordres. Thanks a lot for the work keep it up !
        br
        p.title.is-5
            strong.has-text-white BurntCookies
            |  :
        p Joueur anglais, c'est vraiment l'explorateur d'Eternalfest : La moitié des screens du Tunnel sans Fin viennent de ses explorations ! Egalement, il a donné les screens de la dimension 9 du Mausolée, et heureusement car pas beaucoup auraient eu le courage d'aller dans une dimension Explosifs Instables ! Thanks for helping !
        br
        p.title.is-5
            strong.has-text-white Bya (Max8312083)
            |  :
        p Probablement un des meilleurs joueurs du jeu, il a fourni tous les screens du Sanctuaire des Abysses même pas une semaine après la sortie du Temple Oublié ! Merci à lui !
        br
        p.title.is-5
            strong.has-text-white assiette
            |  :
        p Joueur désormais confirmé, assiette peut aller chercher les screens des régions les plus reculées d'Eternalfest. Il a screen 80% de l'Antre Mystère, et aide à screen aussi les abysses du mausolée : territoire hostile où seuls les plus braves s'aventurent ! Merci plate !
        br
        p.title.is-5
            strong.has-text-white Nassimou
            |  :
        p Bien qu'il soit encore un petit joueur, Nassimou fait tous son possible pour aller screen les niveaux qui sont à sa portée, et aider le site au maximum. Son dévouement lui aura valu le titre de modérateur sur Hamm4all ! Merci !
        br
        p.title.is-5
            strong.has-text-white maxdefolsch
            |  :
        p Aussi connu su le nom de max3, ou encore d'EternalPGM, son niveau excellent lui permet d'aller prendre des screens d'à peu près n'importe quelle contrée quand il n'a pas la flemme. Il aide également à cartographier certaines contrées comme la cavabière ou la Ville Labyrithe, et aide à donner des notations correctes ! Merci !
        br
        p.title.is-5
            strong.has-text-white Lokapi
            |  :
        p Lokapi se fait surtout connaître ici par ses majestueuses descriptions qu'il fournit à ses contrées. Merci à lui de contribuer !
        br
        p Je suis désolé de ne pas avoir remercié tout le monde, je ne peux pas remercier tous les gens qui m'ont aidé de près ou de loin tellement ils sont nombreux.
        p Je terminerai juste par remercier la Team Eternalfest, qui nous mettent des étoiles dans les yeux depuis noël dernier avec leur travail incroyable.
        br
        p En général, je remercie tout le Discord Hammerfest pour leur bonne humeur quotidienne. Longue vie à Hammerfest et à sa communauté !
