extends _layout.pug

block content
    +title(`Profil de ${API.name}`)
    br
    br
    .tile.is-ancestor
        .tile.is-6.is-parent
            article.tile.notification.is-child.has-background-primary
                .tabs.is-boxed.is-centered.has-text-black
                    ul
                        li.is-active
                            a
                                span.icon
                                    i.fas.fa-tablet-alt
                        li
                            a
                                span.icon
                                    i.fas.fa-upload
                div
                    figure.image              
                        img(src=API.picture_url, alt=API.name)
                .is-invisible
                    form(action=`/profile/screen/${API.id}/add`, method="post", enctype="multipart/form-data")
                        +subtitle-centered("Ajouter/modifier une photo de profil")
                        input(type="file", name="screen" required)
                        br
                        br
                        input(type="submit").button.is-info.is-fullwidth
        .tile.is-vertical
            .tile.is-parent
                article.tile.notification.is-child.has-background-success
                    - let dat = new Date(API.created_at)
                    - dat = dat.toLocaleDateString('fr-FR') + " - " + dat.toLocaleTimeString('fr-FR')
                    +subtitle(`Date d'inscription : ${dat}`)
                    br
                    br
                    +subtitle(`Grade : ${API.role}`)
            .tile.is-parent
                article.tile.notification.is-child.has-background-danger
                    +subtitle("Historique")
                    p [Coming soon]
    .tile.is-ancestor
        .tile.is-parent
            article.tile.notification.is-child.has-background-link
                if (API && API.lvl > 0)
                    +subtitle-centered(`Niveau ${API.lvl}`)
                    - let current = API.experience - API.before
                    - let passLevel = API.xp - API.before
                    h3.subtitle.is-7.has-text-centered #{current}/#{passLevel}
                    progress.progress.is-primary.is-large(value=current, max=passLevel)
                else
                    +subtitle-centered(`Niveau ???`)
                    p Il y a eu un problème dans le traitement de votre expérience.


block script
    script(src="/assets/modules/tabs.js")