extends _layout.pug

block content
    +title(`Profils d'Hamm4all`)
    br
    br
    .tile.is-ancestor.is-multiline.columns
        each user in API
            .tile.is-4.is-parent.column
                article.tile.notification.is-child.has-background-info
                    +subtitle-centered(user.name)
                    p id : #{user.id}
                        br
                        | créé le : #{(new Date(user.created_at)).toLocaleDateString('fr-FR')}
                        br
                        | Niveau : #{user.level}
                        br
                        | rôle : #{user.role}
                    br
                    a(href=`/profile/${user.id}`) Compte