extends ../_layout.pug
include ../includes/_nivGen


block content
    .text
        -var cheminDim = ""
        -var path = "32"
        +title('Ololzd')
        br
        p Cette contrée, qui semble labyrinthique au premier abord, n'est en réalité qu'un seul niveau, qui boucle sur lui même, et ce, peu importe le vortex pris. Elle a été dévoilée le 1er avril 2019 !
        br
        br
        img(src="/lands/" + path + "/0.png", height="500px", width="420px")
        br
        br
        p Afin de berner les joueurs qui hackent le jeu, de faux messages ont été ajoutés dans le code source afin de faire croire à un niveau caché contenant un boss :
        +list("Tu as réussi à arriver à bout de mon labyrinthe légendaire !? Tu es très persévérant !",
              "Qui suis-je ? ... Je suis le maître de ce monde; et de bien d'autres.",
              "S'il te faut un nom, alors je suppose que tu peux m'appeler Sky",
              "Cependant... Je ne peux te laisser vivant après être parvenu jusque là...",
              "C'est dommage d'être venu aussi loin sans pouvoir repartir ! Ton avenir touche à sa fin, Igor ! En piste !",
              "[ENDLESS NIGHT]",
              "[FAST AND FURIOUS PUNCH]",
              "[TIP OF THE ICEBERG]",
              "[MANICHEAN WORLD]",
              "[UNLIMITED SPIKE WORKS]",
              "NOn ! Tu ne me battras pas ! Je serai le vainqueur !",
              "[NO FUTURE]",
              "[THE CREATOR]",
              "[ETERNAL DUSK]",
              "Noooon, tu m'as battu toi-même Igor ! Comment as-tu pu !",
              "Bon bah je retourne coder. GG Well Played.",
              "Nombre de niveaux parcourus:",
              "Score final:")
