extends ../_layout.pug

block content
    - const path = "/lands/42/0.png"
    +title("?")
    br
    p Cette contrée ne contient qu'un niveau et n'est là que pour servir d'indice sur la prochaine contrée à sortir, prévue pour le 24 mai 2O19. Elle est sortie une semaine avant, le 18 mai.
    br
    br
    img(src=path, height="500px", width="420px")
    br
    p En appuyant sur pause, un message apparait, lettre par lettre, indiquant "Vendredi 24 mai".
    br