extends ../_layout

block content
        +title("Créations - Concours")
        br
        p Dans cet onglet de menu, il y aura tous les concours organisés par la communauté !
        br
        br
        p Deux tournois Soccerfest ont été organisés, respectivement aux étés 2019 et 2020 :
        hr
        p 2019 :
        div.centered
                +table()
                        thead
                                td Position
                                td Joueur
                        tr
                                td 1
                                td Gary
                        tr
                                td 2
                                td Kuro18
                        tr
                                td 3
                                td Arounet/BlessedRacc
        br
        br
        hr
        p 2020 :
        div.centered
                +table()
                        thead
                                td Position
                                td Joueur
                        tr
                                td 1
                                td Gary
                        tr
                                td 2
                                td Nassimou
                        tr
                                td 3
                                td BlessedRacc
        br
        br