extends ../_layout

block content
        +title("Créations - Niveaux")
        br
        p Dans cet onglet de menu, je mettrai les liens des blogs des niveaux créés par la communauté !
        p Les voici :
        br
        - API.sort((a,b) => a.owner.localeCompare(b.owner))
        - let links = [];
        - let owners = [];
        each elem in API
                - links.push(elem.link)
                - owners.push(elem.owner)
        +list-links(links, owners)