extends ../_layout

block content
        +title("Créations - Musiques")
        br
        p Ici, on verra toutes les splendides créations musicales créées à l'éfigie de ce beau jeu !
        p Les voici :
        br
        .centered
            +table()
                thead
                    td Nom de la musique
                    td Créateur(s)
                    td Lien
                each song in API
                    tr
                        td= song.name
                        td= song.author
                        td
                            if (song.internal)
                                audio(controls="controls")
                                    source(src=song.link)
                            else
                                a(href=song.link)= song.name