extends ../_layout

block content
        +title("Les Outils")
        br
        br
        p.
                Les différents outils qui aident à la création ou à la simplification de choses sur Hammerfest ne manquent pas ! En voici une liste non exhausive :
        br
        +subtitle-centered("L'éditeur de niveaux")
        p.
                L'éditeur de niveau créé par #[a(href="https://eternalfest.net/users/f7e0876d-1551-4129-a991-5ddd2cd540a3") moulins] (aussi appelé "HammerfestCreator") est un éditeur de niveau très performant permettant de faire tous les niveaux que vous pouvez imaginer.
                Il continue à être mis à jour de temps en temps
        p.
                Vous pouvez le télécharger #[a(href="/assets/outils/HammerfestCreator-1.7.3.zip", download="HammerfestCreator-1.7.3.zip") ici].
        br
        +subtitle-centered("L'outil des ordres")
        p.
                Cet outil simple, créé par #[a(href="https://eternalfest.net/users/82d879b4-a62f-4822-8331-d10d3e6aeea0") Globox62] est un analyseur de possibilités d'ordres en fonction des croisements :
                Il suffit d'entrer les croisements faits pour un niveau, et le programme sortira les possibilités d'ordres restantes qui conviennent aux croisements.
        p.
                Vous pouvez le télécharger #[a(href="/assets/outils/EternalOrdres.zip", download="EternalOrdres.zip") ici].
        br
        +subtitle-centered("Gameresult")
        p.
                Le Gameresult est un outil très pratique développé par #[a(href="https://eternalfest.net/users/b01cbc0d-519f-4775-adeb-a4492ff3ab4a") Erneraude] qui permet de visionner un résultat
                de n'importe quelle partie sur Eternalfest, pour peu qu'on possède l'ID de la partie. On pourra voir dedans le détail de chaque objet pris ! Pratique
                pour archiver un résultat de partie à tout jamais !
        p.
                Le Gameresult est disponible en ligne à #[a(href="https://gameresult.ef.rainbowda.sh/") cette adresse].
        br
        +subtitle-centered("Analyseur de frigo")
        p.
                L'analyseur de frigo (ou "Fridge Parser") est un outil développé par #[a(href="https://eternalfest.net/users/9d048774-33b4-4212-946c-e6fe5b9329b4") BlessedRacc] pour analyser le frigo d'un profil Eternalfest.
                L'outil donne le nombre de chaque coeffs dans le frigo concerné et donne les pourcentages relatifs pour chaque coeffs !
        p.
                L'outil est disponible en téléchargement #[a(href="https://gitlab.com/FireKing54/fridge-parser/-/archive/master/fridge-parser-master.zip") ici] en téléchargement.
        br
        +subtitle-centered("Greenshot")
        p.
                Greenshot est un logiciel gratuit qui sert à prendre des screens. Il peut sélectionner une zone (par exemple, celle du jeu) et prendre des screens seulement en appuyant sur une touche !
                C'est un vrai must-have quand on se met à prendre des screens
        p.
                L'outil est disponible #[a(href="https://getgreenshot.org/") ici]. Attention cependant, Greenshot ne fonctionne pas sur Linux !
        br