extends ../_layout.pug

block content
        +title("Les Ennemis")
        p Hammerfest est un jeu riche en ennemis. Ceux-ci ont divers pouvoir, et se comptent au nombre de 18 + 2 boss.
        br
        br
        +table()
            thead
                td Apparence
                td Nom
                td Déplacement
                td Sauter
                td Monter
                td Descendre
                td Grimper
                td Pouvoir
            each fruit in API.fruits
                tr
                    td
                        img(src=fruit.image, alt=fruit.name)
                    td= fruit.name
                    case fruit.move
                        when "walk"
                            td Marche
                        when "crawl"
                            td Rampe
                        when "fly"
                            td Vole
                        default
                            td.
                                !{"<i class='fas fa-times has-text-danger'>"}
                    td.
                        !{fruit.jump ? "<i class='fas fa-check has-text-success'>" : "<i class='fas fa-times has-text-danger'>"}
                    td.
                        !{fruit.up ? "<i class='fas fa-check has-text-success'>" : "<i class='fas fa-times has-text-danger'>"}
                    td.
                        !{fruit.down ? "<i class='fas fa-check has-text-success'>" : "<i class='fas fa-times has-text-danger'>"}
                    td.
                        !{fruit.climb ? "<i class='fas fa-check has-text-success'>" : "<i class='fas fa-times has-text-danger'>"}
                    td.
                        !{fruit.power ? fruit.power : "<i class='fas fa-times has-text-danger'>"}