mixin form(route)
    form(action=route, method="post", class!=attributes.class)
        if block
            block
        else
            - logerror(`There is missing a block instance on a form, where route is ${route}`)

mixin form-file(route)
    form(action=route, method="post", enctype="multipart/form-data")
        if block
            block
        else
            - logerror(`There is missing a block instance on a form, where route is ${route}`)

mixin label(_for, name)
    label(for=_for).label.has-text-white= name

mixin input(name)
    .control
        input(type="text", name=name, maxlength!=attributes.maxlength, placeholder!=attributes.placeholder autofocus, required).input

mixin input-not-required(name)
    .control
        input(type="text", name=name, maxlength!=attributes.maxlength, autofocus).input

mixin textarea(name)
    .control
        textarea(name=name minlength!=attributes.minlength rows!=attributes.rows autofocus required).textarea
            if block
                block

mixin textarea-not-required(name)
    .control
        textarea(name=name minlength!=attributes.minlength rows!=attributes.rows autofocus).textarea
            if block
                block

mixin submit()
    .control
        input(type="submit").button.is-link

mixin select(name)
    .control
        .select
            select(name=name)
                if block
                    block

mixin checkbox(name)
    input(type="checkbox", name=name)
