mixin list(...elems)
    +list-verify(elems)
        +list-build(elems)

mixin list-verify(values)
    if (values.length === 0)
        - logerror(`The list hasn't any value`);
    else
        if block
            block
        
mixin list-callback(callback)
    +list-verify(callback)
        +list-build(callback)

mixin list-links(href, ...links)
    - let i = 0
    +list-verify(href)
        +list-verify(links)
            +list-build(links)
                li
                    a(href=href[i])= links[i]
                    - i++;

mixin list-links(href, links)
    - let i = 0
    +list-verify(href)
        +list-verify(links)
            +list-build(links)
                li
                    a(href=href[i])= links[i]
                    - i++;

mixin list-build(callback)
    dl.listitems  
        each elem, ind in callback
            if block
                block
            else
                li=elem
