mixin title(text="Hamm4all")
    h1.title.has-text-centered= text

mixin subtitle(text="Hamm4all")
    h3.subtitle.is-5= text

mixin subtitle-centered(text="Hamm4all")
    h3.subtitle.is-5.has-text-centered.
        !{text}