@charset "utf-8";

$title-color: #FFFFFF;
$title-size: 3rem;

$subtitle-color: #FFFFFF;

$strong-color: #FFFFFF;

$table-color: rdb(255, 255, 255);
$table-head-background-color: hsla(204, 71%, 53%, 0.2);
$table-head-cell-color: rgb(0, 209, 178);
$table-background-color: rgba(0, 0, 0, 0);
$table-row-hover-background-color: rgba(0, 209, 178, 0.1);

$card-background-color: transparent;


@import "../../node_modules/bulma/bulma.sass";
@import "styles.css";