extend ../_layout.pug

block content
    - API['items'].sort((a, b) => { return b.rarity - a.rarity })

    +title("Les coefficients")
    p Les objets ont ce qu'on appelle un coefficient de rareté, qui détermine leur probabilité d'apparaitre en jeu. À de rares exceptions près, plus le coefficient est élevé, moins on a de chance de trouver l'objet en jeu.
    br
    p Voici la liste des probabilités d'apparition pour chaque coefficient :
    br
    ul
        li Coefficient 7 : 60
        li Coefficient 6 : 1
        li Coefficient 5 : 10
        li Coefficient 4 : 100
        li Coefficient 3 : 300
        li Coefficient 2 : 1000
        li Coefficient 1 : 2000
        li Coefficient 0 : 0
    br
    p Les coefficients 0 ne peuvent apparaitre qu'à des endroits précis dans le jeu (comme les clés), ou après un évènement (comme les cristaux ou les petits champignons). Bien que les clés et les pads soient notés coefficient 6 dans le jeu, leurs familles ne sont jamais débloquées et il est impossible de les voir apparaître à des emplacements standards d'objets. Ces objets sont donc à considérer comme des coefficients 0.
    br
    p Il existe une technique appelée le blocage de quêtes, qui consiste à bloquer certaines quêtes pour augmenter la probabilité d'apparition de certes objets à coefficient 5. C'est notamment le cas de la 
        img(src="/assets/items/1192.svg")
        | &nbsp;Méluzzine, de la 
        img(src="/assets/items/1213.svg")
        | &nbsp;Liqueur maléfique ou de l' 
        img(src="/assets/items/1218.svg")
        | &nbsp;Agrafeuse du Chaos.
    p Les deux seuls joueurs connus à avoir débloqué un coefficient 6 autre que le 
        img(src="/assets/items/112.svg")
        | &nbsp;Pioupiou carnivore sont 
        a(href="http://www.hfest.net/user.html/63782") JoeKickass
        |  et 
        a(href="https://eternalfest.net/users/37a91fdd-9a5b-41c5-a6af-0b0643cb265e") fabianh
        |, sur le serveur anglais.
    br
    - let rare = 8
    +table()
        each item in API['items']
            if item.rarity != rare
                thead
                    td(colspan="3") Coefficients 
                        =item.rarity
                    - rare = item.rarity
            tr
                td
                    img(src=item.img, style="max-width: 35px")
                    | &nbsp;
                td.name
                    =item.name.fr
                if item.value != undefined
                    td
                        =item.value
                        |  pts
                if item.effect != undefined
                    td !{item.effect}