extends ../_layout.pug

block content
    +title("Les familles")
    p Les objets sont regroupés en différentes familles, que le joueur débloque grâce à des quêtes. Les données affichées sur cette page ont été directement extraites du jeu, et certaines peuvent sembler étranges, notamment certains coefficients :
        br
        | La 
        a(href="#item1002") canne de Bobble
        | , coefficient 7, qui a une rareté à mi chemin entre un coefficient 4 et un coefficient 5.
    br
    p Les objets des familles 
        a(href="#family1020") clés des glaces
        | &nbsp;et 
        a(href="#family1024") batons de joie
        | &nbsp;sont marqués coefficient 6. Cependant, ces familles ne sont jamais débloquées et il est impossible de trouver ces objets dans les niveaux standards. Ces objets sont donc à considérer comme des coefficients 0.
    each family in API['families']
        br
        h3(id="family" + family.id).title.is-5 Famille&nbsp;
            =family.name.fr
        +table()
            thead
                td Nom
                td Coefficient
                if family.id >= 1000
                    td Valeur
            each item in family.items
                tr
                    td
                        img(src=item.img, style="max-height: 25px")
                        | &nbsp;
                        | #{item.name.fr}
                    td.rarity=item.rarity
                        if family.id >= 1000
                            td=item.value
