extends ../_layout.pug

block content
    +title("Les Clés")
    p Dans Hammerfest, un certain nombre de dimensions sont bloquées, car elles nécessitent une clé pour les ouvrir.
    p En voici la liste :
    br
    +table()
      thead
        td Apparence
        td Nom
        td Niveau d'obtension
        td Conditions
        td Effet
      each key in API.keys
        tr
          td
            | !{(key.item) ? key.item : "<i class='fas fa-times has-text-danger'>"}
          td!=key.name
          td
            | !{(key.level) ? key.level : "<i class='fas fa-times has-text-danger'>"}
          td
            | !{(key.conditions) ? key.conditions : "<i class='fas fa-times has-text-danger'>"}
          td!=key.effect