extends ../_layout.pug

block content
        +title("Les Pads")
        br
        p A la fin de certaines dimensions, on peut trouver des pads, qui servent à compléter la quête "Meilleur Joueur" pour débloquer le mode Tornade
        p En voici la liste :
        br
        +table()
            thead
                td Apparence
                td Nom
                td Niveau d'obtention
                td Valeur
            each pad in API.pads
                tr
                    td!= pad.item
                    td!= pad.name
                    td!= pad.level
                    td!= pad.value