extends ../_layout.pug

block content
    +title("Les quêtes")
    p Certains objets permettent de compléter des quêtes, qui donnent accès à de nouvelles familles, des déguisements, des options et modes de jeu, ainsi que certains bonus divers, comme des parties ou des bonus lors de l'achat de parties, à l'époque où celui ci fonctionnait encore.
    br
    p Depuis le bug de mars 2017, la quête 
      a(href="#quest74") Maître des bombes
      | &nbsp;ne fonctionne plus correctement. En effet, lorsque la quête est validée, elle est sensée contacter un serveur pour ajouter le joueur à la liste des détenteurs de la 
      img(src="/assets/items/1237.svg")
      | &nbsp;Neige-o-glycérine (probablement pour le concours des t-shirts). Ce système ne fonctionne aujourd'hui plus, et compléter cette quête aura pour effet d'empêcher de compléter d'autres quêtes à l'avenir, ainsi que de bloquer le meilleur score et le meilleur niveau du joueur. Elle ne débloque plus non plus l'option "Explosifs Instables".
    br
    each quest in API['quests']
        +subtitle-centered(quest.name.fr)
        .columns.is-multiline.is-vcentered.is-centered
          each item in quest.items
            .column.is-1
              a(href="/objects/families#item" + item.id)
                img(src=item.img)
              | ×
              = item.quantity
        p.description
          = quest.desc.fr
        p
          if quest.give && quest.give.tokens
            | Donne 
            = quest.give.tokens
            | &nbsp;parties gratuites.
            br
          if quest.give && quest.give.bank
            | Les achats de parties rapportent +
            = quest.give.bank
            | % parties.
            br
          if quest.give && quest.give.mode
            | Débloque le mode "
            strong.has-text-white=quest.give.mode
            |".
            br
          if quest.give && quest.give.option
            | Débloque l'option "
            strong.has-text-white=quest.give.option
            |".
            br
          if quest.give && quest.give.log
            | Active le logueur.
            br
          if quest.give && quest.give.families
            each family in quest.give.families
              if family.name
                | Débloque la famille "
                a(href="/objects/families#family" + family.id)
                  = family.name.fr
                | ".
                br
              else if family.id >= 5000
                | Permet d'ouvrir une serrure.
                br
          if quest.remove && quest.remove.families
            each family in quest.remove.families
              if family.name
                | Retire la famille "
                a(href="/objects/families#family" + family.id)
                  = family.name.fr
                | ".
                br
          if !quest.give && !quest.remove
            | Cette quête n'a aucun effet.
            br
        hr
