extends ../_layout.pug

block content
    +title("Les techniques")
    br
    p Dans Hammerfest, différentes techniques spécifiques peuvent être apprises, dont certaines peuvent s'avérer d'une très grande utilité dans l'exploration des Cavernes.
    br
    each tech in API
        hr
        br
        +subtitle-centered(tech.name)
        br
        p.
            !{tech.presentation}
            <br><br>
            !{tech.description}
        
        br
        if (tech.videos.length > 0)
            div.centered
                +table()
                    thead
                        each video in tech.videos
                            td= video[0].name
                    tr
                        each video in tech.videos
                            td
                                video(autoplay loop).centered
                                    each source in video
                                        source(src=source.source type=`video/${source.type}`)
        br
        br
        p.
            !{tech.utility}
        